*{
  margin: 0;
  padding: 0;
}
 
body{
  background-color: rgb(245, 200, 215);
}
 
.div-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}
 
#h1-titulo{
  color: palevioletred;
  text-shadow: 2px 2px 2px rgb(142, 70, 94);
  margin-bottom: 4vh;
}
 
#input{
  padding: 2vh;
  border: 0;
  border-radius: 1vh;
}

#input2{
  padding: 2vh;
  border: 0;
  border-radius: 1vh;
  margin-left: 2vw;
}
 
ul{
  margin-top: 3vh;
  color:rgb(142, 70, 94);
}
 
.button{
  margin-left: 2vw;
  padding: 1.4vh;
  background-color: rgb(197, 100, 132);
  text-decoration: none;
  box-shadow: 2px 2px 2px rgb(142, 70, 94);
  border-radius: 5px;
  border: 0;
  color:rgb(255, 255, 255);
}